@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
*{
    margin: 0px;
    padding: 0px;
}

Body {
    font-family: 'Exo', sans-serif;
}

.area {
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.page {
    display: none;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
}
.button-left {
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: fixed;
  margin-top: 40px;
  left: 89%;
}
.button-left span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-left span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}
.button-left:hover span {
  padding-left: 10px;
}

.button-left:hover span:after {
  opacity: 1;
  left: 0;
}
.button-left:hover {
  background-color: blue;
}
.button {
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-top: 40px;
  margin-left: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button:hover {
  background-color: blue
}
.button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 12px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.player-button {
  background-color: #000000;
}
.computer-button {
    background-color: #000000;
}
.center {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 50%;
  border: 5px solid lightblue;
}
.center-right {
position: fixed;
top: 86.5px;
margin-left: 49%;
display: flex;
justify-content: center;
align-items: center;
height: 200px;
width: 50%;
border: 5px solid lightblue;
}
.playerstyle {
  text-align: right;
  position: fixed;
  top: 450px;
  right: 20px;
}
.displayGameStyle {
  margin-top: 0px;
  font-size: x-large;
  text-align: center;
}
.computerstyle {
  text-align: left;
  position: fixed;
  top: 450px;
  left: 20px;
}
.player-Score {
  position: fixed;
  top: 20px;
  right: 10px;
  font-size: 20px;
}
.computer-Score {
  position: fixed;
  top: 20px;
  left: 10px;
  max-width: 20%;
  font-size: 20px;
}
.align-center {
  text-align: center;
}
.player-Wins {
  position: fixed;
  top: 65px;
  right: 10px;
}
.computer-Wins {
  position: fixed;
  top: 65px;
  left: 10px;
}
#computer {
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
}
#player {
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
}
#demo2 {
  font-size: 20px;
}
.fontStyle {
  font-size: 20px;
}
.computer-Dice {
  margin-left: 50px;
  margin-right: 50px;
  height: 120px;
  width: 120px;
  border-radius: 20px;
  background-color: white;
}
.player-Dice {
  margin-left: 50px;
  margin-right: 50px;
  height: 120px;
  width: 120px;
  border-radius: 20px;
  background-color: white;
}
.radioCustom {
  font-size: 18px;
}
input[type='radio'] {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}
@media screen and  (max-width: 1366px) {
  .button-left {
    border-radius: 4px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: fixed;
    margin-top: 40px;
    left: 83%;
  }
}
  
