body {
    background-image: url(media/d1w16fx-4af86e32-3aa5-44c2-8081-17ec913f59b7.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#wrapper {
    margin: auto;
    width: 488px;
}
article {
    background-color: bisque;
    width: 120px;
    height: 120px;
    float: left;
    cursor: pointer;
    margin: 1px;
}
footer {
    position: fixed;
    top: 425px;
    left: 515px
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.align-center{
    text-align: center;
}
.button-tooyoung {
    border-radius: 4px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button-tooyoung:hover {
    background-color: blue
}
.fontStyle {
    font-size: 20px;
}
.align-button {
    margin-left: 500px;
}